---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from './FormattedDate.astro';

import { Heading } from "./solid/blocks/Heading";

type Props = CollectionEntry<'blog'>['data'] & {
	readingTimeMins: number
};

const { title, description, pubDate, updatedDate, heroImage, readingTimeMins } = Astro.props;
---

<article
	class="
		w-full
		[&>img]:max-h-80
		[&>img]:relative
		flex
		flex-col
		justify-center
		items-center"
>
	{heroImage && <img src={heroImage} alt="" />}
	<div class="py-5 text-center">
		<Heading size='3xl' className='py-2' >{title}</Heading>
		<span>
			<div class="inline">Published on <FormattedDate date={pubDate} /></div>
			{
				updatedDate && (
					<div class="inline">
						&nbsp;|&nbsp; Last updated on <FormattedDate date={updatedDate} />
					</div>
				)
			}
			{
				readingTimeMins && (
					<p class="inline">&nbsp;|&nbsp; Time to Read: {readingTimeMins} min{readingTimeMins >= 2 ? 's' : ''}</p>
				)
			}
		</span>
		<hr />
	</div>

	<div
		class="
			overflow-hidden
			w-full
			prose
			prose-li:m-0
			prose-ul:my-0.5
			prose-ol:my-0.5
		">

			<slot />

	</div>
</article>
