---
import { type SortedBlogPost, getBlogEntryBySlugOrId } from '@accessors/astro/blogAccessor';
import FormattedDate from './FormattedDate.astro';
import { Heading, NavigationLink } from "@solidComponents/blocks";
import { getRouteDetails } from "../routes";

type Props = SortedBlogPost['data'] & {
	previousPostSlug: SortedBlogPost['previousPostSlug']
	nextPostSlug: SortedBlogPost['nextPostSlug']
	readingTimeMins: number
};

const {
	title,
	description,
	pubDate,
	updatedDate,
	heroImage,
	readingTimeMins,
	previousPostSlug,
	nextPostSlug,
	tags
} = Astro.props;

const blogPath = getRouteDetails('blog').link
const blogPostTags = tags?.filter(t => t !== 'blog');

const nextBlogPostDetails = await getBlogEntryBySlugOrId(nextPostSlug);
const prevBlogPostDetails = await getBlogEntryBySlugOrId(previousPostSlug);
---

<article
	class="
		w-full
		[&>img]:max-h-80
		[&>img]:relative
		flex
		flex-col
		justify-center
		items-center"
>
	<div
		class="inline-flex flex-row flex-nowrap place-items-center w-full
			*:py-2 *:px-6 *:text-center -mt-4 flex-grow-0">
		<NavigationLink href={blogPath} className="m-auto">All Posts</NavigationLink>
	</div>

	{heroImage && <img src={heroImage} alt="" />}
	<div class="flex flex-col pt-5 pb-2 text-center border-b mb-6 items-center w-full">
		<Heading size='3xl' className='py-2' >{title}</Heading>
		<span>
			<div class="inline">Published on <FormattedDate date={pubDate} /></div>
			{
				updatedDate && (
					<div class="inline">
						&nbsp;|&nbsp; Last updated on <FormattedDate date={updatedDate} />
					</div>
				)
			}
			{
				readingTimeMins && (
					<p class="inline">&nbsp;|&nbsp; Time to Read: {readingTimeMins} min{readingTimeMins >= 2 ? 's' : ''}</p>
				)
			}
		</span>
		{blogPostTags && (
			<ul class="flex flex-initial flex-wrap justify-center gap-1.5
				w-10/12 my-2
				*:rounded-full *:border *:px-2 *:py-0.5
				text-white *:border-salmon *:bg-salmon/80"
			>
				{blogPostTags.map(t => <li class="w-fit h-fit font-bold capitalize">{t}</li>)}
			</ul>
		)}
	</div>

	<div
		class="
			overflow-hidden
			w-full
			prose
			before:[&_blockquote_p:first-of-type]:content-none
			after:[&_blockquote_p:last-of-type]:content-noneprose-blockquote:prose-quoteless
			prose-li:m-0
			prose-ul:my-0.5
			prose-ol:my-0.5
			[&_.expressive-code]:my-6
			[&_.header-anchor-link]:pr-2
			prose-code:font-medium
			prose-code:before:content-none
			prose-code:after:content-none
			prose-code:bg-gray-200
			prose-code:px-1 prose-code:py-[1px] prose-code:rounded-md
			[&>blockquote>p]:my-1.5
			[&>p_img]:my-0
		">

			<slot />

	</div>

	<div class="grid grid-cols-2 divide-x w-full
		border-t mt-7 -m-1 *:pt-4 *:px-3 items-center"
	>
		{previousPostSlug && (
			<NavigationLink
				href={`${blogPath}/${previousPostSlug}`}
				className="text-left"
			>
				<p class="pb-1">&lsaquo; <i>Prev</i></p>
				{prevBlogPostDetails && (
					<b>{prevBlogPostDetails.data.title}</b>
				)}
			</NavigationLink>
		)}
		{nextPostSlug && (
			<NavigationLink
				href={`${blogPath}/${nextPostSlug}`}
				className="text-right"
			>
				<p class="pb-1"><i>Next</i> &rsaquo;</p>
				{nextBlogPostDetails && (
					<b>{nextBlogPostDetails.data.title}</b>
				)}
			</NavigationLink>
		)}
	</div>
</article>
