---
import type { SortedBlogPost } from '../accessors/astro/blogAccessor';
import FormattedDate from './FormattedDate.astro';

import { Heading } from "./solid/blocks/Heading";
import { NavigationLink } from './solid/blocks';

type Props = SortedBlogPost['data'] & {
	previousPostSlug: SortedBlogPost['previousPostSlug']
	nextPostSlug: SortedBlogPost['nextPostSlug']
	readingTimeMins: number
};

const {
	title,
	description,
	pubDate,
	updatedDate,
	heroImage,
	readingTimeMins,
	previousPostSlug,
	nextPostSlug
} = Astro.props;

const blogPath = '/blog'
---

<article
	class="
		w-full
		[&>img]:max-h-80
		[&>img]:relative
		flex
		flex-col
		justify-center
		items-center"
>
	<div
		class="inline-flex flex-row flex-nowrap place-items-center w-full
			*:py-2 *:px-6 *:text-center -mt-4 flex-grow-0">
		<div>
			{nextPostSlug && (
				<NavigationLink href={`${blogPath}/${nextPostSlug}`}>
					Next
				</NavigationLink>)}
		</div>
		<NavigationLink href={blogPath} className="m-auto">All Posts</NavigationLink>
		<div>
			{previousPostSlug && (
				<NavigationLink href={`${blogPath}/${previousPostSlug}`}>
					Prev
				</NavigationLink>)}
		</div>
	</div>

	{heroImage && <img src={heroImage} alt="" />}
	<div class="py-5 text-center">
		<Heading size='3xl' className='py-2' >{title}</Heading>
		<span>
			<div class="inline">Published on <FormattedDate date={pubDate} /></div>
			{
				updatedDate && (
					<div class="inline">
						&nbsp;|&nbsp; Last updated on <FormattedDate date={updatedDate} />
					</div>
				)
			}
			{
				readingTimeMins && (
					<p class="inline">&nbsp;|&nbsp; Time to Read: {readingTimeMins} min{readingTimeMins >= 2 ? 's' : ''}</p>
				)
			}
		</span>
		<hr />
	</div>

	<div
		class="
			overflow-hidden
			w-full
			prose
			prose-li:m-0
			prose-ul:my-0.5
			prose-ol:my-0.5
		">

			<slot />

	</div>

	<div
		class="inline-flex flex-row flex-nowrap place-items-center w-full *:pb-4 *:pt-6 *:px-6
			*:text-center -mb-4 flex-grow-0">
		<div>
			{nextPostSlug && (
				<NavigationLink href={`${blogPath}/${nextPostSlug}`}>
					Next
				</NavigationLink>)}
		</div>
		<NavigationLink href={blogPath} className="m-auto">All Posts</NavigationLink>
		<div>
			{previousPostSlug && (
				<NavigationLink href={`${blogPath}/${previousPostSlug}`}>
					Prev
				</NavigationLink>)}
		</div>
	</div>
</article>
