---
import FormattedDate from '@components/FormattedDate.astro';
import Heading from '@components/solid/blocks/Heading';
import type { SortedBlogPost } from '@accessors/astro/blogAccessor';

interface Props {
  posts: SortedBlogPost[]
  gapX?: number
}

const { posts, gapX = 10 } = Astro.props;
---

<ul class={`flex flex-auto flex-wrap gap-y-10 gap-x-5 items-baseline justify-center`}>
  {posts.map((post) => (
      <li class="max-w-[20rem] shadow-lg active:shadow-2xl hover:shadow-2xl rounded-md">
        <a class="active:first:saturate-[1.85] hover:first:saturate-[1.85]" href={`/blog/${post.slug}`}>
          <img
            class="
              max-h-fit
              relative
              cursor-pointer
              filter
              mx-auto
              transition-all duration-150
              rounded-t-md"
            src={post.data.heroImage}
            alt=""
          />

          <div class="px-4 py-1 pb-3">
            <Heading size="xl" className="pt-2">{post.data.title}</Heading>
            <em class="text-sm"><FormattedDate date={post.data.pubDate} /></em>
            <p class="pt-3">
              {post.data.description}
            </p>
          </div>

        </a>
      </li>
    ))
  }
</ul>