---
import type { InferGetStaticParamsType, GetStaticPaths, InferGetStaticPropsType } from 'astro';

import Layout from '@layouts/BaseLayout.astro';
import { SITE_TITLE, SITE_SUBTITLE, SITE_DESCRIPTION } from '@src/consts';
import { type SortedBlogPost, getBlogPostsTagsLookup } from '@accessors/astro/blogAccessor';
import BlogPostsList from '@src/components/BlogPostsList.astro';
import TagPill from '@src/components/TagPill.astro';

export const getStaticPaths = (async () => {
	const postsByTag = await getBlogPostsTagsLookup();

	const result: {
		params: {tag: string}
		props: {posts: SortedBlogPost[]}
	}[] = [];

	postsByTag.forEach((posts, key) => {
		result.push({
			params: {tag: key},
			props: {posts: posts}
		})
	})

	return result;
}) satisfies GetStaticPaths;

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { tag } = Astro.params as Params
const { posts } = Astro.props as Props;
---

<Layout
	title={SITE_TITLE}
	subTitle={SITE_SUBTITLE}
	description={SITE_DESCRIPTION}
	isArticle={true}
>
	<span class="*:inline-block">
		<p><b>Posts related to:&nbsp;</b></p>
		<TagPill tag={tag} />
	</span>
	<div class="pt-5">
		<!-- <BlogPostsList posts={posts} /> -->
	</div>
</Layout>