---
import { Image } from 'astro:assets';

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Sidebar from '../components/Sidebar.astro';
import Footer from '../components/Footer.astro';
import { ScrollTopButton } from '../components/solid/ScrollTopButton.tsx';

import bannerImage from '../images/jbrlloyd-banner.png';

type Props = {
  title: string
  subTitle: string | undefined
  description: string
};

const { title, subTitle, description } = Astro.props;
const isSideDrawerOpen = false;

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>

    <section class={
      "flex flex-col min-h-screen bg-[#fafafa] overflow-y" + (isSideDrawerOpen
        ? ' overflow-y-hidden [@media(max-width:767px)]:scrollbar-hide'
        : '')}>

      <Header title={title} subTitle={subTitle} />


      <figure class="bg-salmon h-48 flex justify-center">
        <Image
          src={bannerImage}
          class="h-full w-auto"
          alt="A description of my image."
        />
      </figure>

      <main class="flex flex-col lg:flex-row pb-3 justify-center">

        <div
          class="
            bg-white
            py-5
            relative
            sm:-mt-10 sm:mx-8
            sm:border-2 sm:border-solid
            h-[0%]
            max-w-4xl
            min-w-full sm:min-w-[36rem] md:min-w-[42rem]
            transition-all duration-300 delay-50"
        >
          <div class="sm:mx-6 max-sm:mx-4">

            <slot />

          </div>
        </div>

        <div class="sm:p-5 max-w-xs relative grow-0 text-center lg:self-start self-center">
          <Sidebar />
        </div>

      </main>
      
      <footer class="flex-1 bg-white py-3 border-t">
        <Footer />
      </footer>
      
    </section>
    
    <div class="fixed bottom-8 right-8 max-md:bottom-5 max-md:right-6">
      <ScrollTopButton client:only="solid-js" />
    </div>
	</body>
</html>
