---
import { Image } from 'astro:assets';

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Sidebar from '../components/Sidebar.astro';
import Footer from '../components/Footer.astro';
import { ScrollTopButton } from '../components/solid/ScrollTopButton.tsx';

import bannerImage from '../images/jbrlloyd-banner.png';

type Props = {
  title: string
  subTitle: string | undefined
  description: string
  isArticle?: boolean
  bannerMessage?: string
};

const { title, subTitle, description, isArticle = false, bannerMessage } = Astro.props;
const isSideDrawerOpen = false;

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} isArticle={isArticle} />
	</head>

	<body>

    <section class={
      "flex flex-col min-h-screen bg-[#fafafa] overflow-y" + (isSideDrawerOpen
        ? ' overflow-y-hidden [@media(max-width:767px)]:scrollbar-hide'
        : '')}>

      <Header title={title} subTitle={subTitle} />


      <figure class="bg-salmon h-48 flex justify-center">
        <Image
          src={bannerImage}
          class="h-full w-auto"
          alt="A description of my image."
        />
      </figure>

      <main class="flex flex-col lg:flex-row pb-3 justify-center">

        <div
          class="
            bg-white
            relative
            sm:-mt-10 sm:mx-8
            h-[0%]
            max-w-4xl
            min-w-full sm:min-w-[36rem] md:min-w-[42rem]
            transition-all duration-300 delay-50"
        >
          {bannerMessage && (
            <div
              id="content-banner"
              class="
                text-center bg-[#5f6d4c]
                text-white flex flex-row
                p-1 place-items-center"
            >
              <p class="ml-auto sm:px-3">{bannerMessage}</p>
              <button
                id="close-content-banner-btn"
                class="
                  ml-auto rounded-sm
                  px-2 py-1 h-fit w-fit
                  m-1 border select-none"
              >
                <b>X</b>
              </button>
            </div>
          )}


        <div class="sm:border-2">
          <div class="sm:mx-6 max-sm:mx-4 py-4">

            <slot />

          </div>
        </div>
      </div>

        <div class="sm:p-5 max-w-xs relative grow-0 text-center lg:self-start self-center">
          <Sidebar />
        </div>

      </main>
      
      <footer class="flex-1 bg-white py-3 border-t">
        <Footer />
      </footer>
      
    </section>
    
    <div class="fixed bottom-9 right-9">
      <ScrollTopButton client:only="solid-js" />
    </div>
	</body>
</html>

<script>
  const closeBtn = document.getElementById('close-content-banner-btn');

  if (closeBtn) {
    closeBtn.addEventListener('click', onClick)
  }

  function onClick() {
    closeContentBanner()
    closeBtn?.removeEventListener('click', onClick)
  }

  function closeContentBanner() {
    const contentBanner = document.getElementById('content-banner');

    if (contentBanner)
      contentBanner.style.display = 'none'
  }
</script>